<header>
  <nav>
    <div class="row">
      <img
        src="assets/resources/img/logo.png"
        alt="Rasbhoga logo"
        class="logo-black"
      />

      <img
        src="assets/resources/img/logo-white.png"
        alt="Rasbhoga logo"
        class="logo"
      />
      <ul class="main-nav">
        <li><a href="#">Food delivery</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Address</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="section-features js--section-features">
  <div class="row">
    <h2>Get food fast &mdash; not fast food</h2>
    <p class="long-copy">
      Hello, we're Omnifood, your new premium food delivery service. We know
      you're always busy. No time for cooking. So let us take care of that,
      we're really good at it, we promise!
    </p>
  </div>
  <div class="row">
    <div class="col span-1-of-4 box">
      <i class="icon ion-md-infinite icon-big"></i>
      <h3>Upto 6 days a</h3>
      <p>
        Never cook again! We really mean that. Our subscription plans include up
        to 365 days/year coverage. You can also choose to order more flexibly if
        that's your style.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="icon ion-md-stopwatch icon-big"></i>
      <h3>Up to 365 days/year</h3>
      <p>
        Never cook again! We really mean that. Our subscription plans include up
        to 365 days/year coverage. You can also choose to order more flexibly if
        that's your style.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="icon ion-md-ribbon icon-big"></i>
      <h3>Up to 365 days/year</h3>
      <p>
        Never cook again! We really mean that. Our subscription plans include up
        to 365 days/year coverage. You can also choose to order more flexibly if
        that's your style.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="icon ion-md-cart icon-big"></i>
      <h3>Up to 365 days/year</h3>
      <p>
        Never cook again! We really mean that. Our subscription plans include up
        to 365 days/year coverage. You can also choose to order more flexibly if
        that's your style.
      </p>
    </div>
  </div>
</section>

<section class="section-meals">
  <ul class="meals-showcase clearfix">
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new1.jpeg"
          alt="Korean bibimbap with egg and vegetables"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new2.jpeg"
          alt="Simple italian pizza with cherry tomatoes"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new3.jpeg"
          alt="Chicken breast steak with vegetables"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="assets/resources/img/new4.jpeg" alt="Autumn pumpkin soup" />
      </figure>
    </li>
  </ul>
  <ul class="meals-showcase clearfix">
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new5.jpeg"
          alt="Paleo beef steak with vegetables"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new6.jpeg"
          alt="Healthy baguette with egg and vegetables"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new7.jpeg"
          alt="Burger with cheddar and bacon"
        />
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img
          src="assets/resources/img/new8.jpeg"
          alt="Granola with cherries and strawberries"
        />
      </figure>
    </li>
  </ul>
</section>

<div class="test"><p>&nbsp;</p></div>

<section class="section-cities">
  <div class="row">
    <h2>We're currently open in below location</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-2 box address-photo">
      <img src="/assets/resources/img/addres-rasbhoga.jpeg" alt="Rasbhoga" />
      <h3>Lisbon</h3>
    </div>
    <div class="col span-1-of-2 box">
      <h2>Address:</h2>
    </div>
  </div>
</section>
<section class="section-testimonials">
  <div class="row">
      <h2>Our customers can't live without us</h2>
  </div>
  <div class="row">
      <div class="col span-1-of-3">
          <blockquote>
              Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
              <cite><img src="/assets/resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncan</cite>
          </blockquote>
      </div>
      <div class="col span-1-of-3">
          <blockquote>
             Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
              <cite><img src="/assets/resources/img/customer-2.jpg" alt="Customer 2 photo">Joana Silva</cite>
          </blockquote>
      </div>
      <div class="col span-1-of-3">
          <blockquote>
I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
          <cite><img src="/assets/resources/img/customer-3.jpg" alt="Customer 3 photo">Milton Chapman</cite>
          </blockquote>
      </div>
      <div class="copyright">"©2019 Rasabhoga. All rights reserved."</div>
  </div>
</section>

<footer>
    <div class="g-signin2" data-onsuccess="onSignIn">test</div>
    <div class="data">
        <p>Profile Detail</p>
        <img id="pic" class="img-circle" width="100px" height="100px">
        <p>email Address</p>
        <p id="email" class="alert alert-danger"></p>
        <button onclick="signout()" class="btn btn-danger">signout</button>
        </div>
  <h3>Rasbhoga</h3>
</footer>
